/*web fonts Open Sans starts*/

/*web fonts Open Sans ends*/


/*web fonts Poppins-Regular starts*/
@font-face {
    font-family: 'Poppins';
    src: url('webfonts/Poppins-Medium.eot');
    src: url('webfonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Poppins-Medium.woff2') format('woff2'),
        url('webfonts/Poppins-Medium.woff') format('woff'),
        url('webfonts/Poppins-Medium.ttf') format('truetype'),
        url('webfonts/Poppins-Medium.svg#Calibri') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('webfonts/Poppins-Regular.eot');
    src: url('webfonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Poppins-Regular.woff2') format('woff2'),
        url('webfonts/Poppins-Regular.woff') format('woff'),
        url('webfonts/Poppins-Regular.ttf') format('truetype'),
        url('webfonts/Poppins-Regular.svg#Calibri-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*web fonts Poppins-Regular ends*/

